body { background-color: black;}
ul { color: blue;text-align: center;}
ol { color: brown;text-align: center;}
h1 { color: white}
h2 {color: white;text-align: center;}
.Descripcion {color: white}
.canal {color: red}
.Descripcion {text-align: center;}
#titulo1 {text-align: center;}
